/* footer tag styling */
footer {
        background-color: #00ff00;
        height: 60px;
        width: 100%;
        position: fixed;
        bottom: 0;
}
footer p {
        text-align: center;
        padding: 0px;
        margin: 0px;
        line-height: 60px;
}
